<div class="table-wrapper">
  <table class="data-table">
    <thead>
      <tr class="table-header-row">
        <th *ngFor="let col of displayedColumns" class="table-header-cell">
          {{ getColumnDisplay(col) }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let row of config.dataSource.data" 
        class="table-row"
        (click)="selectRow(row)"
        [class.selected]="row === selectedRow">
        <td *ngFor="let col of displayedColumns" class="table-cell">
          
          <!-- Text -->
          <ng-container *ngIf="getColumnType(col) === 'text'">
            {{ row[col] }}
          </ng-container>

          <!-- number -->
           <ng-container *ngIf="getColumnType(col) === 'number'">
            {{ row[col] }}
           </ng-container>

          <!-- Boolena type -->
          <ng-container *ngIf="getColumnType(col) === 'boolean'">
            <span
              class="status-badge"
              [class.active]="row[col]"
              [class.inactive]="!row[col]"
            >
              {{ row[col] ? 'Active' : 'InActive'}}
            </span>
          </ng-container>

          <!-- Media type -->
           <ng-container *ngIf="getColumnType(col) === 'media-type'">
              <ng-container [ngSwitch]="row[col]">
                  <span *ngSwitchCase="mediaType.image">Image</span>
                  <span *ngSwitchCase="mediaType.video">Video</span>
                  <span *ngSwitchDefault>Unknown</span>
                </ng-container>
           </ng-container>

          <!-- Image or video -->
          <ng-container *ngIf="getColumnType(col) === 'media' && row[col]">

            <img
              *ngIf="row.mediaType === mediaType.image"
              [src]="getMediaUrl(row[col])"
              class="media-thumb"
              alt="image"
            >

            <video
              *ngIf="row.mediaType === mediaType.video"
              [src]="getMediaUrl(row[col])"
              class="media-thumb"
              autoplay
              loop
              muted
            ></video>

          </ng-container>
        </td>
      </tr>
      <tr *ngIf="config.dataSource.data.length === 0" class="empty-row">
        <td [attr.colspan]="displayedColumns.length" class="empty-cell">
          No data available
        </td>
      </tr>
    </tbody>
  </table>
</div>
